<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Thiago's CSS -->
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/blocos.css">
  <link rel="stylesheet" href="../styles/bg-gradient-animated.css">
  <link rel="stylesheet" href="../styles/animation.css">

  <title>Bloco: Com Crea Ou Sem Crea, Tamu na Grea</title>
</head>

<body class="bg-image">

  <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-gradient-animated">
    <a class="navbar-brand" href="../home.html">Carnavalizar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="../home.html">Início </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../home.html#historia">História</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../home.html#news">Novidades</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Blocos
            <span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="crea.html">Com CREA ou sem CREA, tamu na grea!</a>
            <a class="dropdown-item" href="gloria.html">Amantes de Glória</a>
            <a class="dropdown-item text-muted" href="register.html">Cadastre um novo bloco</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <header>
    <div class="jumbotron rounded tracking-in-contract-bck">
      <h1 class="display-5">ComCREAouSemCREATamuNaGrea</h1>
      <p class="lead">Blocado ou não, venha brincar com a gente!</p>
      <hr class="my-4">
      <p>Carnaval de Pernambuco é bom demais!</p>
      <p class="lead">
        <a class="btn btn-lg active bg-gradient-animated shadow-pop-tr" href="#" role="button" data-toggle="modal"
          data-target="#more" target="_blank">Saiba mais</a>
      </p>
    </div>

    <div class="bootstrap-modal">
      <div class="modal fade" id="more" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title" id="exampleModalLabel">Bloco "Com CREA ou sem CREA, tamu na grea!"</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>O Bloco Carnavalesco "Com ou sem CREA, tamu na GRÉA!" Desde 2005 vem consolidando a importância da
                Escola
                de Engenharia de Pernambuco, atualmente Centro de Tecnologia e Geociências (CTG) da Universidade Federal
                de Pernambuco (UFPE), onde traz todo ano, no sábado de Zé Pereira, alegria para todos os foliões,
                tornando-se um ponto de encontro de alunos, ex-alunos, professores, profissionais da área e seus
                familiares.</p>

              <p>Nesse Carnaval 2017 o bloco mantem a tradição, onde irá desfilar no dia 25 de fevereiro, dando inicio a
                concentração por volta das 10h , na praça Maxambomba, em Olinda. O Bloco irá sair pelas ladeiras de
                Olinda
                quando a bebida na concentração acabar.</p>

              <p>O seu percurso é de aproximadamente 2,5 quilômetros pelas ladeiras da cidade alta, passando por locais
                como Os Quatro Cantos, Mercado da Ribeira e Prefeitura de Olinda.</p>
            </div>
            <div class="modal-footer">
              <a type="button" class="btn btn-secondary shadow-pop-tr"
                href="https://www.penocarnaval.com.br/noticias/detalhe/bloco-com-ou-sem-crea-tamu-na-grea">Mais...</a>
              <button type="button" class="btn btn-success" data-dismiss="modal">Voltar</button>
            </div>
          </div>
        </div>
      </div>

  </header>


  <div class="info-cards">

    <div class="card text-center">
      <div class="card-header gradient-transition">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="fechada-tab" data-toggle="tab" role="tab" aria-controls="previa-fechada"
              aria-selected="true" href="#previa-fechada">Prévia Fechada</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="aberta-tab" data-toggle="tab" role="tab" aria-controls="previa-aberta"
              aria-selected="false" href="#previa-aberta">Prévia aberta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Próximos eventos</a>
          </li>
        </ul>
      </div>

      <h4 class="card-title">Com Crea ou sem Crea, tamu na grea!</h4>
      <div class="tab-content" id="myTabContent">
        <div class="card-body tab-pane fade show active" id="previa-fechada" role="tabpanel"
          aria-labelledby="fechada-tab">
          <p class="card-text">Adicione este animadíssimo bloco aos seus favitos</p>
          <a id="no-action" href="#" class="btn bg-gradient-animated grow">Vem carnavalizar!</a>
          <h5 class="card-title">Inexistente</h5>
          <div>
            <p class="card-text text-muted">Não há prévia fechada registrada.</p>
          </div>
        </div>

        <div class="card-body tab-pane fade " id="previa-aberta" role="tabpanel" aria-labelledby="aberta-tab">
          <p class="card-text text-muted">A prévia aberta está marcada no endereço: Rua do Bonfim, 53. Compareça!</p>
          <h5 class="card-title">Próxima: 08/02/2020</h5>
          <a id="call-calendar" href="#" name="crea" class="btn bg-gradient-animated grow">Agendar</a>
          <!-- Mapa -->
          <div class="container maps-view">

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1307.9427639539817!2d-34.8504488930199!3d-8.015846246589966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab22a58547552f%3A0x482bafdd6c699add!2sR.%20do%20Bonfim%20-%20Carmo%2C%20Olinda%20-%20PE!5e1!3m2!1spt-BR!2sbr!4v1580089870545!5m2!1spt-BR!2sbr"
              frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>

    </div>

  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

  <!--  JS from bootstrap installed via npm -->
  <script src="../js/bootstrap.min.js"></script>

  <!-- Personal implementations in JS -->
  <script src="../js/script.js"></script>
</body>

</html>