<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Thiago's CSS -->
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/blocos.css">
  <link rel="stylesheet" href="../styles/bg-gradient-animated.css">
  <link rel="stylesheet" href="../styles/animation.css">

  <title>Cadastre seu bloco</title>
</head>

<body class="bg-image">

  <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-gradient-animated">
    <a class="navbar-brand" href="../home.html">Carnavalizar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="../home.html">Início </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../home.html#historia">História</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../home.html#news">Novidades</a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Blocos
            <span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="crea.html">Com CREA ou sem CREA, tamu na grea!</a>
            <a class="dropdown-item" href="gloria.html">Amantes de Glória</a>
            <a class="dropdown-item text-muted" href="#">Cadastre um novo bloco</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <header>
    <div class="register-start container">

      <div class="card text-center">
        <div class="card-header">
          Cadastre seu próprio bloco ou agremiação
        </div>
        <div class="card-body">
          <h5 class="card-title">Cadastro</h5>
          <p class="card-text">Preenchendo um formulário simples você mesmo pode cadastrar seu próprio bloco ou
            agremiação carnavalesca que desfila ou se reúne durante o Carnaval Pernambucano.</p>

          <div class="embeded-video container embed-responsive embed-responsive-16by9">

            <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/VgjbIpDjfXY"
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>

          </div>
        </div>
        <div class="card-footer bg-gradient-animated">
          <strong>Compartilhe sua alegria conosco!</strong>
        </div>
      </div>

    </div>
  </header>

  <main>

    <div class="register-form container">

      <div class="card">
        <div class="card-header text-center">
          <h4>Cadastre aqui seu bloco ou agremiação</h4>
        </div>

        <div class="card-body">
          <p class="card-text">Preencha os seguintes dados:</p>
          
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="Nome">Nome:</label>
                <input type="text" class="form-control" id="inputNome4">
              </div>
              <div class="form-group col-md-6">
                <label for="Sobrenome">Sobrenome:</label>
                <input type="text" class="form-control" id="inputSobrenome4">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">E-mail:</label>
                <input type="email" class="form-control" id="inputEmail4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputTelefone">Telefone:</label>
                <input type="text" class="form-control" id="inputTelefone4">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputNomeDoBloco">Nome do Bloco:</label>
                <input type="text" class="form-control" id="inputNomeDoBloco">
              </div>
              <div class="form-group col-md-6">
                <label for="inputLocalBloco">Sede / Local de saída:</label>
                <input type="text" class="form-control" id="inputLocalBloco4">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Cidade:</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Estado:</label>
                <select id="inputState" class="form-control">
                  <option selected>- - Escolha um estado - -</option>
                  <option value="AC">Acre</option>
                  <option value="AL">Alagoas</option>
                  <option value="AP">Amapá</option>
                  <option value="AM">Amazonas</option>
                  <option value="BA">Bahia</option>
                  <option value="CE">Ceará</option>
                  <option value="DF">Distrito Federal</option>
                  <option value="ES">Espírito Santo</option>
                  <option value="GO">Goiás</option>
                  <option value="MA">Maranhão</option>
                  <option value="MT">Mato Grosso</option>
                  <option value="MS">Mato Grosso do Sul</option>
                  <option value="MG">Minas Gerais</option>
                  <option value="PA">Pará</option>
                  <option value="PB">Paraíba</option>
                  <option value="PR">Paraná</option>
                  <option value="PE">Pernambuco</option>
                  <option value="PI">Piauí</option>
                  <option value="RJ">Rio de Janeiro</option>
                  <option value="RN">Rio Grande do Norte</option>
                  <option value="RS">Rio Grande do Sul</option>
                  <option value="RO">Rondônia</option>
                  <option value="RR">Roraima</option>
                  <option value="SC">Santa Catarina</option>
                  <option value="SP">São Paulo</option>
                  <option value="SE">Sergipe</option>
                  <option value="TO">Tocantins</option>
                  <option value="EX">* Estrangeiro</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputAddress">Endereço:</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Ex: Rua do Sol, 90">
              </div>
              <div class="form-group col-md-4">
                <label for="inputZip">CEP:</label>
                <input type="text" class="form-control" id="inputCEP">
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="radio" id="radioOption1" name="radioButton" name="radioOption1">
                <label class="form-check-label" for="radioOption1">
                  Dono do bloco
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="radioOption2" name="radioButton" name="radioOption2">
                <label class="form-check-label" for="radioOption2">
                  Folião
                </label>
              </div>
            </div>
            <button type="submit" class="btn bg-gradient-animated shadow-pop-tr submit-button">Cadastrar bloco</button>
            <button type="button" class="btn bg-gradient-animated shadow-pop-tr termos-button" data-toggle="collapse" data-target="#termos-consentimento" aria-expanded="false" aria-controls="termos-consentimento">Termos de Consentimento</button>
          </form>
          
        </div>
      </div>
    </div>

      <div class="termos collapse container round" id="termos-consentimento">
        <object data="../content/terms.pdf" type="application/pdf" ></object>
      </div>
    </main>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>


  <!--  JS from bootstrap installed via npm -->
  <script src="../js/bootstrap.min.js"></script>
</body>

</html>