.bg-image-crea {
  background-image: url(../content/crea-boneco.jpg);
  background-repeat: no-repeat;
  background-position: center;

  width: 60em;
  height: 40em;
}

.card-title {
  padding: 1em;
}

.maps-view {
  /* 
    Responsive Maps iframe 
    Author: https://gist.github.com/magnetikonline/8487169
  */
  height: 0;
	overflow: hidden;
	padding-bottom: 60%; /* desired aspect ratio */
	position: relative;

}

.maps-view iframe {
  padding: 3em 0;

  /* 
    Responsive Maps iframe 
    Author: https://gist.github.com/magnetikonline/8487169
  */
  border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.register-start {
  padding-top: 3em;
}

.embed-responsive, .embeded-video iframe {
  max-width: 560px;
  max-height: 315px;
}

.register-form {
  padding-top: 3em;
  padding-bottom: 5em;
}

.termos-button {
  margin-left: 2em;
}

.termos object {
  height: 20em;
  width: 100%;
}